In [2]:
## Same usecase we are going to solve using regression for finding salary of a customer

In [3]:
import pandas as pd  
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder 
import pickle

In [4]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

#### #Estimated salary is the output feature and remaing all are the input feature

In [5]:
#Preprocess the data
df.drop(labels=["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [6]:

df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
#Encode the Categorical Variables
#Label encoder for gender
label_encoder_gender=LabelEncoder()
df["Gender"]=label_encoder_gender.fit_transform(df["Gender"])

In [8]:
#onehot ecnoding for geograhpy
onehot_enoder_geo=OneHotEncoder()
geo_encoded=onehot_enoder_geo.fit_transform(df[["Geography"]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_enoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [9]:
#Combine onehot encoded columns with original data 
df=pd.concat([df.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [10]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
X=df.drop("EstimatedSalary",axis=1)
y=df["EstimatedSalary"]

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
#Saving all encoders and scaler in pickle formats in furthur use
with open("regression_label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)

with open("regression_onehot_encoder_geo.pkl",'wb') as file:
    pickle.dump(onehot_enoder_geo,file)

with open("regression_scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

In [15]:
import tensorflow as tf  
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
model=Sequential([
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),#HL1
    Dense(32,activation="relu"),#HL2
    Dense(1) #output layer
])

#compile the model
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])

d:\DL_NLP_Bootcamp\venv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [18]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [21]:
#setting up early stopping
from tensorflow.keras.callbacks import EarlyStopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [22]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100982.4922 - mae: 100982.4922 - val_loss: 98443.0000 - val_mae: 98443.0000
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99462.6875 - mae: 99462.6875 - val_loss: 96436.7109 - val_mae: 96436.7109
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97485.5781 - mae: 97485.5781 - val_loss: 91436.1406 - val_mae: 91436.1406
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 91652.8750 - mae: 91652.8750 - val_loss: 83360.4062 - val_mae: 83360.4062
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 82146.7734 - mae: 82146.7734 - val_loss: 73490.2656 - val_mae: 73490.2656
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 73371.0234 - mae: 73371.0234 - val_loss: 64247.5391 - val_mae: 64247.5391
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 63654.7109 - mae: 63654.7109 - val_loss: 57179.2930 - val_mae: 57179.2930
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 56157.3008 - mae: 56157.3008 - val_loss: 53101.0547 - val_mae: 53101.0547
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52654.0977 - mae: 52654.0977 - val_loss: 51383.9453 - val_mae: 51383.9453
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51096.0156 - mae: 51096.0156 - val_loss: 50883.5664 - val_mae: 50883.5664
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50104.9883 - mae: 50104.9883 - val_loss: 50756.1016 - val_mae: 50756.1016
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50033.9102 - mae: 50033.9102 - val_loss: 50721.0938 - val_mae: 50721.0938
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50502.4180 - mae: 50502.4180 - val_loss: 50674.4844 - val_mae: 50674.4844
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50386.2109 - mae: 50386.2109 - val_loss: 50624.4922 - val_mae: 50624.4922
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50519.4336 - mae: 50519.4336 - val_loss: 50578.3633 - val_mae: 50578.3633
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49568.8555 - mae: 49568.8555 - val_loss: 50557.3242 - val_mae: 50557.3242
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49794.5938 - mae: 49794.5938 - val_loss: 50522.6250 - val_mae: 50522.6250
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49895.9844 - mae: 49895.9844 - val_loss: 50504.1680 - val_mae: 50504.1680
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49946.8320 - mae: 49946.8320 - val_loss: 50478.4102 - val_mae: 50478.4102
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49742.2539 - mae: 49742.2539 - val_loss: 50454.3320 - val_mae: 50454.3320
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49339.6602 - mae: 49339.6602 - val_loss: 50447.9922 - val_mae: 50447.9922
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50636.6445 - mae: 50636.6445 - val_loss: 50428.0938 - val_mae: 50428.0938
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50087.3672 - mae: 50087.3672 - val_loss: 50413.9258 - val_mae: 50413.9258
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49523.0078 - mae: 49523.0078 - val_loss: 50408.9727 - val_mae: 50408.9727
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50027.2383 - mae: 50027.2383 - val_loss: 50395.4844 - val_mae: 50395.4844
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49881.1953 - mae: 49881.1953 - val_loss: 50380.6211 - val_mae: 50380.6211
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49900.3945 - mae: 49900.3945 - val_loss: 50376.3711 - val_mae: 50376.3711
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49513.6719 - mae: 49513.6719 - val_loss: 50364.8828 - val_mae: 50364.8828
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49923.2734 - mae: 49923.2734 - val_loss: 50365.2266 - val_mae: 50365.2266
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49802.4414 - mae: 49802.4414 - val_loss: 50361.9648 - val_mae: 50361.9648
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50037.9648 - mae: 50037.9648 - val_loss: 50358.9062 - val_mae: 50358.9062
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49450.6367 - mae: 49450.6367 - val_loss: 50324.1602 - val_mae: 50324.1602
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49804.6133 - mae: 49804.6133 - val_loss: 50327.7969 - val_mae: 50327.7969
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49636.3438 - mae: 49636.3438 - val_loss: 50320.1875 - val_mae: 50320.1875
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49551.2031 - mae: 49551.2031 - val_loss: 50329.0898 - val_mae: 50329.0898
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49438.0195 - mae: 49438.0195 - val_loss: 50328.5195 - val_mae: 50328.5195
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49457.3008 - mae: 49457.3008 - val_loss: 50332.5938 - val_mae: 50332.5938
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49119.6250 - mae: 49119.6250 - val_loss: 50320.0195 - val_mae: 50320.0195
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49774.1602 - mae: 49774.1602 - val_loss: 50321.1445 - val_mae: 50321.1445
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49550.7266 - mae: 49550.7266 - val_loss: 50316.7695 - val_mae: 50316.7695
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49628.8281 - mae: 49628.8281 - val_loss: 50313.1055 - val_mae: 50313.1055
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49459.4492 - mae: 49459.4492 - val_loss: 50318.5391 - val_mae: 50318.5391
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49476.3672 - mae: 49476.3672 - val_loss: 50323.0312 - val_mae: 50323.0312
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49424.0625 - mae: 49424.0625 - val_loss: 50321.6484 - val_mae: 50321.6484
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49541.4883 - mae: 49541.4883 - val_loss: 50318.4062 - val_mae: 50318.4062
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49757.6094 - mae: 49757.6094 - val_loss: 50313.4922 - val_mae: 50313.4922
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49851.2695 - mae: 49851.2695 - val_loss: 50313.3828 - val_mae: 50313.3828
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49843.3672 - mae: 49843.3672 - val_loss: 50318.5469 - val_mae: 50318.5469
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49135.9883 - mae: 49135.9883 - val_loss: 50318.2148 - val_mae: 50318.2148
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49180.4219 - mae: 49180.4219 - val_loss: 50322.2656 - val_mae: 50322.2656
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49390.5352 - mae: 49390.5352 - val_loss: 50312.6016 - val_mae: 50312.6016
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49495.4336 - mae: 49495.4336 - val_loss: 50318.4336 - val_mae: 50318.4336
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48868.1953 - mae: 48868.1953 - val_loss: 50320.0469 - val_mae: 50320.0469
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50005.1758 - mae: 50005.1758 - val_loss: 50330.6719 - val_mae: 50330.6719
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49353.5742 - mae: 49353.5742 - val_loss: 50325.1016 - val_mae: 50325.1016
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49617.0391 - mae: 49617.0391 - val_loss: 50336.6914 - val_mae: 50336.6914
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49203.5234 - mae: 49203.5234 - val_loss: 50339.4727 - val_mae: 50339.4727
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49627.6992 - mae: 49627.6992 - val_loss: 50332.7617 - val_mae: 50332.7617
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49304.9297 - mae: 49304.9297 - val_loss: 50338.5781 - val_mae: 50338.5781
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49660.7383 - mae: 49660.7383 - val_loss: 50334.6133 - val_mae: 50334.6133
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49239.6836 - mae: 49239.6836 - val_loss: 50334.0391 - val_mae: 50334.0391

In [23]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.